.hero-section {
  min-height: calc(100vh - 70px); /* Ajusta según tu navbar */
  background: url("https://images.unsplash.com/photo-1591354869253-e5cc0c33bdc8")
    center center / cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px; /* Evita que se corte en móviles */
}

.content {
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  width: 400px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Animación al aparecer */
.hero-section {
  opacity: 0;
  transform: translateY(30px);
  animation: fadeSlide 1s ease-out forwards;
}

/* Keyframes de la animación */
@keyframes fadeSlide {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.overlay {
  background: rgba(0, 0, 0, 0.55);
  padding: 40px 30px;
  border-radius: 16px;
  text-align: center;
  color: #fff;
  max-width: 520px;
  width: 100%;
}

.title {
  font-size: clamp(2rem, 4vw, 3.5rem); /* Ajusta según pantalla */
  margin-bottom: 12px;
  font-weight: bold;
}
.subtitle {
  font-size: clamp(1rem, 2vw, 1.4rem);
  margin-bottom: 20px;
}
.btn-agendar {
  background: #c59d5f;
  color: #111;
  border: none;
  padding: 14px 30px;
  font-size: 1.1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.3s;
}
.btn-agendar:hover {
  background: #b5894e;
}
